/* Typography */
@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+39+Text|Orbitron:400,700|Roboto+Condensed:400,700');

h1 {
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
}

h2 {
    font-family: 'Libre Barcode 39 Text', sans-serif;
    font-weight: 400;
}

.PostTitle {
    background-color: #CCC;
    width: 100%;
}
.PostTitle h2 {
    font-family: 'Roboto Condensed';
    font-weight: 400;
}

.FormField {
    margin: 1em;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
