.App-header h1 {
  font-weight: 700;
	font-size: 3.5em;
}

h2 {
  font-weight: 400;
}

h5 {
  font-size: 1em;
  font-weight: 400;
}

.PostTitle {
  background-color: rgba(46, 82, 102, 0.53);
  line-height: .75em;
  padding: 2%;
  margin-top: 2em;
	border: 1px solid black;
}

.PostTitle h2 {
  font-weight: 400;
  color: #E2C044;
}

.PostContent {
  background-color: #FFF;
  height: 100%;
  padding: 10px;
	border: 1px solid black;
	border-top: 0px;
  white-space: pre-wrap;
}

.BlogForm {
  background-color: #9FB1BC;
  margin-top: 3em;
  height: 100%;
}

/* Forms */
.FormField {
  margin: 0.5em;
}

.FormField p {
	/*font-family: 'Orbitron';*/
	font-size: 1em;
	font-weight: 400;
}

.FormField .subtext {
  font-size: .25em;
}

textarea {
  height: 10em;
  width: 60%;
	border: solid 1px black;
}

textarea:focus {
  outline: none;
}

.TitleInput {
  width: 60%;
	height: 30px;
	border: solid 1px black;
	font-size: 1em;
	text-align: center;
}

.TitleInput:focus {
	    outline: none;
}

.Submit {
  margin-bottom: 2%;
  /*font-family: 'Orbitron';*/
  font-size: 1em;
  height: 40px;
  width: 110px;
	border: solid 1px black;
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
}

.Submit:hover {
	text-shadow: 3px 3px 1px #666;
}

.Submit:actve .Submit:hover {
  outline: none;
}

/* Main */
.App {
  text-align: center;
  background-color: #D3D0CB;
	height: 100%
}

.Post {
	height: 100vh;
}

.App-header {
  background-color: #D3D0CB;
  height: 150px;
  padding: 20px;
}

.App-intro {
  font-size: large;
}

.subtext {
  font-style: italic;
  font-size: small;
  margin-top: 8px;
}
